/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
}

.font-0{
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}


#header{
    background: url('../images/banner.jpg') bottom center no-repeat #003777;
    border-top:  solid 10px #0051ad;
    height: 780px;
}

#logo{
    width: 210px;
    height: 195px;
    background: #fff;
}

.navbar-default{
    background: transparent;
    border: none;
    padding-top: 35px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
    font-size: 1em;
    color: #fff;
    border-bottom: solid 2px transparent;
}


.navbar-default .navbar-nav > li > a:hover {
    transition: .2s linear;
    color:  #fff;
    border-bottom: solid 2px #fff
}

.navbar-nav{
    float: right
}

.titleItalic{
    font-size: 1.8em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 15px 0 15px;
    color: #1a2f5a;
}

.blocos{
    float: left;
    margin-right: 90px;
}

.blocos:last-child{
        margin-right: 0px;
}

.blocos > p{
    font-size: 1em;
    width: 205px;
    line-height: 150%;
}

.blocos > .img{
    height: 188px;
}


#box-blocks{
    background: url('../images/bg-blocos.jpg')  top center no-repeat
}


.bg-gray{
    background: #f1f1f1;
}

#bloco-video{
    padding: 35px 0 45px;
}

#bloco-video > article > div > div > h1{
    font-size: 2em;
    font-weight: 600;
    color: #1c5eaa;
    padding-top: 0px;
    margin-top: 0px;
}

#bloco-video > article > div > div > p{
    font-size: 1.3em;
    line-height: 170%;
}